DateTime==4.3
firebase-admin==5.0.2
gevent==21.1.2
gevent-websocket==0.10.1
ghostscript==0.7
gitdb==4.0.7
GitPython==3.1.18
google-api-core==1.28.0
google-api-python-client==2.6.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-cloud-core==1.7.2
google-cloud-firestore==2.2.0
google-cloud-storage==1.41.1
google-crc32c==1.1.2
google-resumable-media==1.3.3
googleapis-common-protos==1.53.0
greenlet==1.1.0
grpcio==1.37.1
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
httplib2==0.19.1
openpyxl==3.0.7
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
queuelib==1.5.0
regex==2021.4.4
requests==2.24.0
requests-html==0.10.0
requests-oauthlib==1.3.0
future==0.18.2
gunicorn==20.1.0
ipykernel==5.4.0
ipython==7.31.1
itsdangerous==2.0.1 
ipython-genutils==0.2.0
isort==5.6.3
itsdangerous==2.0.1
jedi==0.17.2
Jinja2==3.0.1
jsonschema==2.6.0
mysql-connector==2.2.9
pefile==2019.4.18
pyOpenSSL==19.1.0
pyparsing==2.4.7
SQLAlchemy==1.4.17
threadpoolctl==2.1.0
Werkzeug==2.0.1 
psycopg2==2.9.1
psycopg2-pool==1.1 
firebase-admin==5.0.2
fsspec==2021.8.1
